* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

.song-listing * {
    display: inline-flex;
}

input[type="submit"].warning {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 8px;
}

#karaoke-playlist, #add-song {
    padding: 48px;
    max-width: 800px;
    display: inline-block;
}

.form-wrapper {
    list-style-type: none;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}

.form-row > label {
    padding: 0.5em 1em 0.5em 0;
    flex: 1;
}

.form-row > input {
    flex: 2;
}

.form-row > input,
.form-row > button {
    padding: 0.5em;
}

.form-row > input[type="submit"] {
    background: limegreen;
    color: white;
    border: none;
    border-radius: 5px;
}