* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

#karaoke_playlist {
    padding: 48px;
}