<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Karaoke song suggestions for your next karaoke night.">
    <link rel="stylesheet" href="/karaoke-songs.css" />
    <title>Karaoke Playlist</title>
</head>

<body>
    <header>
        <div id="header-content">
            <h1>Karaoke 🎤</h1>
        </div>
    </header>
    <main>
        <div id="karaoke-playlist" class="card">
            <header>
                <h1>Playlist</h1>
                <div class="popup">
                    <button id="add-song-button" onclick="toggleAddSongPopup()">﹢</button>
                    <div id="add-song" class="popup-dialog">
                        <form action="#" th:action="@{/add/}" th:object="${karaokeSong}" method="POST">
                            <div class="form-row">
                                <input type="text" id="song-title" th:field="*{title}" placeholder="Title" required><br>
                            </div>
                            <div class="form-row">
                                <input type="text" id="song-artist" th:field="*{artist}" placeholder="Artist" required><br>
                            </div>
                            <div class="form-row">
                                <input type="text" id="song-url" th:field="*{url}" placeholder="URL" required><br>
                            </div>
                            <div class="form-row">
                                <input type="submit" name="submit-song" value="Add" />
                            </div>
                        </form>
                    </div>
                </div>
            </header>
            <ul>
                <li th:each="song:${karaokeSongs}" class="song-listing">
                    <a th:href="${song.url}" target="_blank" rel="noopener">
                        <p class="song-title" th:text="${song.title}"></p>
                        <p class="song-artist" th:text="${song.artist}"></p>
                    </a>
                    <form action="#" th:action="@{/delete/{id}(id=${song.id})}" method="POST">
                        <input type="submit" th:id="'delete-' + ${song.id}" value="Delete" class="delete warning">
                    </form>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <p>
            Copyright &copy; 2021 Eric Nguyen
        </p>
    </footer>
    <script>
        function toggleAddSongPopup() {
            let popup = document.getElementById("add-song");
            popup.classList.toggle("show");
        }
    </script>
</body>

</html>